#node modules for both frontend and backend
/frontend/node_modules/
/backend/node_modules/

#Package locks
/frontend/package-lock.json
/backend/package-lock.json

#environmental variables
/backend/.env

